@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

h1{
	overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
button{
	height: 40px;
	width: 100px;
	border-radius: 50px;
	background-image: linear-gradient(to right,rgb(102,204,255),rgba(255,255,255,1));
	font-size: 20px;
	font-weight: bold;
	font-family: cursive;
}


